# Grafana 資料源配置
# 自動配置 Prometheus 作為數據源

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: ${GF_PROMETHEUS_URL}
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
